* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #f4f3ed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#app {
  width: 1440px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  position: relative;
}
