header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 1440px;
  padding: 0 119px 0 119px;
  background-color: #ede6d3;
  border: 1px solid rgba(125, 83, 43, 0.295);
  z-index: 2;
  position: sticky;
  top: -1px;
  transition: height 300ms;
}
.header.is-pinned {
  height: 60px;
}
/* Logo */
header .app-logo {
  position: absolute;
  top: 0;
  height: 100%;
}
/* Search bar */
.search-bar {
  position: absolute;
  left: 360px;
  width: 245px;
  height: 53px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: width 0.2s, height 0.2s, font-size 0.2s;
}
.header.is-pinned .search-bar {
  width: 200px;
  height: 40px;
}
.search-bar .margin {
  height: 16.5%;
  width: 90%;
  background-color: rgba(125, 83, 43, 0.42);
}
.search-bar input {
  height: 77%;
  width: 100%;
  background-color: transparent;
  border: 1px solid rgba(125, 83, 43, 0.5);
  font-family: 'Parisienne';
  font-size: 28px;
  text-align: center;
  padding-top: 5px;
  color: #7d532bd0;
}
.search-bar input:focus,
.search-bar input::placeholder {
  color: #7d532bd0;
  outline: none;
  font-size: 28px;
}
.header.is-pinned .search-bar input,
.header.is-pinned .search-bar input:focus,
.header.is-pinned .search-bar input::placeholder {
  transition: font-size 0.2s;
  font-size: 24px;
}
/* Buttons */
.header-button {
  height: 40px;
  width: 111px;
  border: none;
  color: #7d532b;
  font-family: 'Parisienne';
  font-size: 36px;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.2s, filter 0.2s, font-size 0.2s;
  box-shadow: 0 0px 5px -6px rgba(0, 0, 0, 0);
}
.header.is-pinned .header-button {
  font-size: 28px;
}
.header-button.home {
  margin-left: 500px;
}
.header-button.tea {
  margin-left: -60px;
  margin-right: -60px;
}
.header-button:hover {
  transform: translateY(-2px);
  filter: drop-shadow(0 6px 3px #7d532ba6);
}
.header-button:active {
  transform: translateY(2px);
  filter: drop-shadow(0 6px 3px #7d532b00);
}
/* Shopping cart icon */
.cart {
  background-image: url('../assets/cart-icon.png');
  background-position: center;
  background-size: cover;
  height: 61px;
  width: 61px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  color: #7d532b;
  text-align: center;
  font-style: italic;
  font-size: 20px;
  font-weight: 700;
  padding-top: 7px;
  padding-right: 9px;
  cursor: pointer;
  transition: transform 0.2s, filter 0.2s;
}
.cart:hover {
  transform: translateY(-2px);
  filter: drop-shadow(0 6px 3px #7d532b79);
}
.cart:active {
  transform: translateY(2px);
  filter: drop-shadow(0 6px 3px #7d532b00);
}
