header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 119px 0 119px;
  background-color: #ede6d3;
  border: 1px solid rgba(125, 83, 43, 0.295);
  /* box-shadow: 0 12px 10px -5px #7d532b; */
  /* position: sticky;
  top: 0;
  z-index: 10; */
}
/* Logo */
header .app-logo {
  width: 126px;
  height: 115px;
}
/* Search bar */
.search-bar {
  width: 245px;
  height: 53px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search-bar .margin {
  height: 6px;
  width: 233px;
  background-color: rgba(125, 83, 43, 0.42);
}
.search-bar input {
  height: 41px;
  width: 245px;
  background-color: transparent;
  border: 1px solid rgba(125, 83, 43, 0.5);
  font-family: 'Parisienne';
  font-size: 36px;
  text-align: center;
  padding-top: 5px;
  color: #7d532bd0;
}
.search-bar input:focus,
.search-bar input::placeholder {
  color: #7d532bd0;
  outline: none;
  font-size: 36px;
}
/* Buttons */
.header-button {
  height: 40px;
  width: 111px;
  border: none;
  color: #7d532b;
  font-family: 'Parisienne';
  font-size: 36px;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.2s, filter 0.2s;
  box-shadow: 0 0px 5px -6px rgba(0, 0, 0, 0);
}
button.tea {
  margin-left: -60px;
  margin-right: -60px;
}
.header-button:hover {
  transform: translateY(-2px);
  filter: drop-shadow(0 6px 3px #7d532ba6);
}
.header-button:active {
  transform: translateY(2px);
  filter: drop-shadow(0 6px 3px #7d532b00);
}
/* Shopping cart icon */
.cart {
  background-image: url('../assets/cart-icon.png');
  background-position: center;
  background-size: cover;
  height: 61px;
  width: 61px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  color: #7d532b;
  text-align: center;
  font-style: italic;
  font-size: 20px;
  font-weight: 700;
  padding-top: 7px;
  padding-right: 9px;
  cursor: pointer;
  transition: transform 0.2s, filter 0.2s;
}
.cart:hover {
  transform: translateY(-2px);
  filter: drop-shadow(0 6px 3px #7d532b79);
}
.cart:active {
  transform: translateY(2px);
  filter: drop-shadow(0 6px 3px #7d532b00);
}
