.tea-page {
  display: grid;
  grid-template-columns: 205px 1042px;
  grid-template-rows: 68px 1fr;
  align-items: center;
  color: #7d532b;
}
/* All buttons (tea types + sorting) */
.tea-page button.sort {
  border: none;
  color: #7d532b;
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.2s, filter 0.2s;
  filter: drop-shadow(0 3px 2px #7d532b00);
}
.tea-page button.sort:hover {
  transform: translateY(-1px);
  filter: drop-shadow(0 3px 2px #7d532ba6);
  font-weight: 700;
}
.tea-page button.sort:active {
  transform: translateY(1px);
  filter: drop-shadow(0 3px 2px #7d532b00);
}

/* Tea header with 'name' and 'price' sorting buttons */
.tea-page .header {
  grid-column: 1/3;
  justify-self: center;
  width: 1052px;
  height: 68px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 70px;
  border-bottom: 1px solid #7d532b;
  padding-bottom: 8px;
}
.tea-page .header p {
  font-family: 'Parisienne';
  font-size: 40px;
  margin-bottom: -10px;
}

/* Sider with tea categories */
.tea-page .sider {
  grid-column: 1 / 2;
  width: 205px;
  align-self: flex-start;
  margin: 59px 0 59px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  padding-left: 56px;
}

/* Container for tea cards */
.tea-page .cards {
  grid-column: 2 / 3;
  width: 1042px;
  padding: 37px 78.57px 37px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
